html, body {
	height: 100%;
	width: 100%;
	font-family: "trebuchet MS";
}

.top {
	margin: 50px 300px 0px 300px;
	background-color: #CBCBCB;
	text-align: center;
	padding: 20%;
	font-size: 200px;
	clear: both;
}

.scroll {
	text-align: center;
	margin-right: 300px;
	margin-left: 300px;
	clear: both;
	padding: 2%;
	font-size: 100px;
}

.first {
	margin-right: 300px;
	margin-left: 300px;
	clear: both;
	background-color: black;
	padding: 5% 29%;
}

.second {
	clear: both;
	margin-right: 300px;
	margin-left: 300px;
	background-color: red;
	padding: 5% 29%;
}

.third {
	clear: both;
	margin-right: 300px;
	margin-left: 300px;
	background-color: blue;
	padding: 5% 29%;
}

.fourth {
	clear: both;
	margin-right: 300px;
	margin-left: 300px;
	background-color: purple;
	padding: 5% 29%;
}

.fifth {
	clear: both;
	margin-right: 300px;
	margin-left: 300px;
	background-color: #CBCBCB;
	padding: 5% 29%;
}